/* CSS */

h1
{

}

.navbar
{
		text-align: right;
}

/* image/logo de la navbar */
.navbar-brand {

    padding-top: 0em;
    padding-bottom: 0em;
    font-size: 2rem;
    height: 50px;
}
.navbar-brand img{

    padding-top: 0em;
    padding-bottom: 0em;
    font-size: 2rem;
    height: 100%;
}

.navbar-nav
{
	font-size: 1.5rem;

}

/* Background navbar*/
.bg-light {
    background-color: orange !important;
}


#visual
{
	background-color: black;
	overflow: hidden;
}

#visual img
{
	border: 3px solid;

}

/* autres font
font-family: 'Roboto', sans-serif;
*/

#visual .btn
{
	font-weight: bold;
	top: 200px;
	position: absolute;
	right: 100px;
	line-height: 1;
	font-size: 5rem;
	background-color: orange;
	border-color: orange;
	opacity: 0.8;
	font-family: 'Mina', sans-serif;
}



/*
.available
{
	position: absolute;
	bottom: 500px;
	width: 50vw;
	background-color: red;
	font-size:8em;
	text-align: center;
	border-radius: 15px;

}